.header h1 {
  text-align: center;
  margin: 50px auto;
  font-family: Rubik Distressed;
  text-decoration: underline;
  word-spacing: 1rem;
  letter-spacing: 1rem;
  font-size: 3rem;
  animation: flicker 0.5s ease-in-out infinite alternate;
}
@media (max-width: 600px) {
  .header h1 {
    color: white;
    transition: all ease-in-out 1.5s;
    font-size: 1.3rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.5rem;
  }
}
